/* ---------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* ---------------- Bootstrap */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* ---------------- Main */

@import url("main.css");
@import url("contents/banner.css");
@import url("contents/nav-animation.css");
@import url("contents/header.css");
@import url("contents/side-bar.css");
@import url("contents/footer.css");

/* ---------------- Pages */

@import url("pages/bio.css");
@import url("pages/projects.css");
@import url("pages/contact.css");

/* ---------------- Breakpoints */

@import url("breakpoints/main-breakpoints.css");