/* ---------------- Global Attributes */

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;

    border: none;
    box-sizing: border-box;
}

:root {
    --white : #FFFFFF;
    --fade : #6c757d;
    --gray : #666666;
    --black : #000000;
    --black-cover : rgba(0, 0, 0, 0.9);

    --red-50: #fdf5f3;
    --red-100: #fce9e7;
    --red-200: #f8d5d3;
    --red-300: #f2b3af;
    --red-400: #ea8582;
    --red-500: #de5555;
    --red-600: #c9353b;
    --red-700: #ad2831;
    --red-800: #8e232e;
    --red-900: #7a212d;
    --red-950: #430e14;

    --violet-50: #f5f3ff ;
    --violet-100: #ede9fe ;
    --violet-200: #ddd6ff ;
    --violet-300: #c4b4ff ;
    --violet-400: #a684ff ;
    --violet-500: #8e51ff ;
    --violet-600: #7f22fe ;
    --violet-700: #7008e7 ;
    --violet-800: #5d0ec0 ;
    --violet-900: #4d179a ;
    --violet-950: #2f0d68 ;

    --orange-50: #fff7ed ;
    --orange-100: #ffedd4 ;
    --orange-200: #ffd6a7 ;
    --orange-300: #ffb86a ;
    --orange-400: #ff8904 ;
    --orange-500: #ff6900 ;
    --orange-600: #ff6900 ;
    --orange-700: #ca3500 ;
    --orange-800: #9f2d00 ;
    --orange-900: #7e2a0c ;
    --orange-950: #441306 ;

    --blue-sky-50: #f0f9ff ;
    --blue-sky-100: #dff2fe ;
    --blue-sky-200: #b8e6fe ;
    --blue-sky-300: #74d4ff ;
    --blue-sky-400: #00bcff ;
    --blue-sky-500: #00a6f4 ;
    --blue-sky-600: #0084d1 ;
    --blue-sky-700: #0069a8 ;
    --blue-sky-800: #00598a ;
    --blue-sky-900: #024a70 ;
    --blue-sky-950: #052f4a ;

    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #9f9fa9;
    --zinc-500: #71717b;
    --zinc-600: #52525c;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;

    --main-color : var(--zinc-950);

    --scrollbar-track-color : #060606;
    --scrollbar-thumb-color : #686868;
    --scrollbar-thumb-color-hover : #555555;
    --scrollbar-thumb-color-active : #333333;
    --scrollbar-button-color : #0A0A0A; 
    --scrollbar-button-arrow-color : #555555;

    --container-width : 80vw;
    --container-min-width : 1400px;
    --line-height : 1rem;

    --header-padding : 1.25rem;
    --header-line-height : 2rem;

    --sidebar-translate-x : 24rem;
    --sidebar-duration : .64s;
}

/* ---------------- Body */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;
    min-height: 100vh;
    
    background-color: var(--white);
}

body:has(main#bio) {
    --main-color: var(--red-700);
}

body:has(main#projects) {
    --main-color: var(--violet-700);
}

body:has(main#contact) {
    --main-color: var(--orange-600);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 1;

    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

main section .content-container-c, main section .content-container-r {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

main section .content-container-c {
    flex-direction: column;
}

main section .content-container-r {
    flex-direction: row;
}

main section.page-title .content-container-c {
    align-items: flex-start;
    
    width: 100%;

    padding: 4.5rem 0 0 7rem;
}

/* ---------------- Container */

.container {
    margin: 0 auto;

    max-width: 100%;
}

.fit-content {
    width: fit-content;
    max-width: fit-content;
}

.inner-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    gap: .735rem;
    padding: .375rem .735rem;
}

.item-nav {
    flex: 1 0;
    cursor: pointer;

    padding: .5rem .735rem;

    text-align: center;
}

.item-nav.active {
    color: var(--white) !important;
    background-color: var(--main-color);

    transition: .3s;
}

.inner-nav, .item-nav, .item-nav:hover {
    border-radius: .275rem;
}

.inner-nav, .item-nav:hover {
    border: 1px solid var(--main-color);
}

.item-nav {
    border: 1px solid var(--white);
}

.main-container {
    max-width: var(--container-width);
}

.row, .row-column {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.row-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.col {
    flex: 1 0;
}

.col, .container {
    width: 100%;
    padding: 0 1rem;
}

.articles-left-border {
    position: relative;

    border-left: none;

    margin-left: .875rem;
    padding-left: 1rem;
}

.articles-left-border::before {
    content: "";
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 2px;
    background: var(--main-color);
}

.articles-left-border .article-title {
    position: relative;
    z-index: 1;
}

.articles-left-border .article-title::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: -1.2185rem;
    top: 50%;
    transform: translateY(-50%);

    width: .55rem;
    height: .55rem;

    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--white);
}

.easy-expend {
    overflow: hidden;
    max-height: 0;
    
    transition: max-height 0.5s ease; 
}

.fullfilled {
    max-height: fit-content;
    transition: max-height 0.5s ease; 
}

/* ---------------- Table of contents */

.table-of-contents, .table-of-contents ul {
    list-style: none;
}

ul.table-of-contents, ul {
    padding-left: .5rem;
}

.table-of-contents {
    position: sticky;
    top: calc(var(--header-padding)*2 + var(--header-line-height) + 1.5rem);

    overflow-y: auto;
    padding: .5rem 0;
}

.table-of-contents li {
    margin: .5rem;

    margin-left: .75rem;
}

.table-of-contents a.lexend {
    font-size: 1.25rem;
}

.table-of-contents a.active, .table-of-contents a:hover {
    color: var(--main-color);
}

.table-of-contents-left-border {
    border-left: 2px solid var(--main-color);
}

.anchor-title {
    scroll-margin-top: calc(var(--header-padding)*2 + var(--header-line-height) + 5rem);
}

.anchor {
    scroll-margin-top: calc(var(--header-padding)*2 + var(--header-line-height) + 2rem);
}

/* ---------------- Height */

.full-screen {
    min-height: 100vh;
}

.exhibition {
    min-height: 56vh;
}

.standard {
    min-height: 32vh;
}

.ribbon {
    min-height: 16vh;
}

.head-line {
    min-height: 8vh;
}

/* ---------------- Font */

a {
    text-decoration: none;
    width: 100%;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 1rem;
    font-weight: 400;

    color: var(--white);
}

.main-content .lexend {
    color: var(--black);
}

h1, h1.lexend, h1 span, h2, h2.lexend, h2 span, h3, h3.lexend, h3 span,
h4, h4.lexend, h4 span, h5, h5.lexend, h5 span, h6, h6.lexend, h6 span{
    font-weight: 800;
}

h1, h1.lexend, h1 span {
    --line-height: 3rem;
    font-size: 3rem;
}

.page-title h1, .page-title h1.lexend, .page-title h1 span {
    --line-height: 4rem;
    font-size: 4rem;
}

h2, h2.lexend, h2 span {
    --line-height: 2rem;
    font-size: 2rem;
}

h3, h3.lexend, h3 span {
    --line-height: 1.5rem;
    font-size: 1.5rem;
}

h4, h4.lexend, h4 span {
    --line-height: 1rem;
    font-size: 1rem;
}

h5, h5.lexend, h5 span {
    --line-height: .875rem;
    font-size: .875rem;
}

h6, h6.lexend, h6 span {
    --line-height: .85rem;
    font-size: .85rem;
}

h1.jump, h2.jump, h3.jump, h4.jump, h5.jump, h6.jump {
    width: 100%;

    border-top: 1px solid var(--main-color);
    margin: 2rem 0 1rem 0;
    padding-top: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1.25rem 0;
}

.style-off-road {
    color: var(--main-color) !important;
    --off-road-offset: attr(data-offset rem, .1rem);
    transform: translateX(var(--off-road-offset)) translateY(var(--off-road-offset));
}

.style-off-road::before {
    content: attr(data-content, "");
    position: absolute;
    z-index: 1;

    color: transparent;
    -webkit-text-stroke: 1px var(--black);

    transform: translateX(calc(var(--off-road-offset) * -2)) translateY(calc(var(--off-road-offset) * -2));
}

.style-highlight {
    color: var(--white) !important;
    background-color: var(--main-color);
}

.style-colored {
    color: var(--main-color) !important;
}

h1, h1.lexend, h2, h2.lexend, h3, h3.lexend,
h4, h4.lexend, h5, h5.lexend, h6, h6.lexend,
p, p.lexend, span, span.lexend {
    width: 100%;
}

p, p.lexend, span, span.lexend {
    font-weight: 300;
}

p, p.lexend, span, span.lexend {
    font-size: 1rem;
}

.page-title p, .page-title p.lexend {
    font-size: 1.5rem;
}

hr {
    width: 100%;
    height: 0.25rem;

    margin: 0.5rem 0;
    background-color: var(--main-color);
}

.text-centered {
    text-align: center !important;
}

/* ---------------- Image */

img {
    max-width: 100%;
}

.btn-outlined svg path.stroke, .tag-outlined svg path.stroke,
.btn-filled svg path.stroke, .tag-filled svg path.stroke,
svg path.stroke {
    fill: none;
    
    stroke-width: attr(stroke-width number, 1);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.btn-outlined svg path.stroke, .tag-outlined svg path.stroke {
    stroke: var(--main-color);
    transition: .2s;
}

.btn-filled svg path.stroke, .tag-filled svg path.stroke {
    stroke: var(--white);
    transition: .2s;
}

.btn-outlined svg path, .tag-outlined svg path {
    fill: var(--main-color);
    transition: .2s;
}

.btn-filled svg path, .tag-filled svg path {
    fill: var(--white);
    transition: .2s;
}

.inner-nav svg path.stroke {
    stroke: var(--black);
}

svg.center-verticaly {
    margin: auto 0;
}

/* ---------------- Button */

button {
    display: block;
    cursor: pointer;
}

.btn-filled, .btn-outlined, .tag-filled, .tag-outlined {
    display: flex;
    width: fit-content;

    border: 1px solid var(--main-color);
    border-radius: .375rem;

    text-align: center;
    text-decoration: none;

    vertical-align: middle;
}

.btn-filled, .btn-outlined {
    gap: 1rem;
    padding: .375rem .75rem;

    line-height: 2rem;
    font-size: 1.125rem;
}

.btn-filled, .btn-outlined, .tag-filled.clickable, .tag-outlined.clickable {
    cursor: pointer;
    user-select: none;
}

.tag-filled, .tag-outlined {
    gap: .85rem;
    padding: .225rem .75rem;

    line-height: 1.25rem;
    font-size: 1rem;
}

.btn-outlined, .tag-outlined {
    color: var(--main-color) !important;
    background-color: transparent;
}

.btn-filled, .tag-filled {
    color: var(--white) !important;
    background-color: var(--main-color);
}

/* ---------------- Spacing */

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-extra-small {
    padding: .25rem !important;
}

.padding-small {
    padding: .5rem !important;
}

.padding-medium {
    padding: 1.5rem !important;
}

.padding-large {
    padding: 3rem !important;
}

.padding-extra-large {
    padding: 5rem !important;
}

.margin-extra-small {
    margin: .25rem !important;
}

.margin-small {
    margin: .5rem !important;
}

.margin-medium {
    margin: 1.5rem !important;
}

.margin-large {
    margin: 3rem !important;
}

.margin-extra-large {
    margin: 5rem !important;
}

/* Gap */

.gap-extra-small {
    gap: .5rem !important;
}

.gap-small {
    gap: .735rem !important;
}

.gap-medium {
    gap: 1rem !important;
}

.gap-large {
    gap: 1.5rem !important;
}

.gap-extra-large {
    gap: 3rem !important;
}

/* No Padding */
.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

/* No Margin */
.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

/* Padding Top */
.padding-top-extra-small {
    padding-top: .25rem !important;
}

.padding-top-small {
    padding-top: .5rem !important;
}

.padding-top-balance {
    padding-top: .735rem !important;
}

.padding-top-medium {
    padding-top: 1.5rem !important;
}

.padding-top-large {
    padding-top: 3rem !important;
}

.padding-top-extra-large {
    padding-top: 5rem !important;
}

/* Padding Bottom */
.padding-bottom-extra-small {
    padding-bottom: .25rem !important;
}

.padding-bottom-small {
    padding-bottom: .5rem !important;
}

.padding-bottom-balance {
    padding-bottom: .735rem !important;
}

.padding-bottom-medium {
    padding-bottom: 1.5rem !important;
}

.padding-bottom-large {
    padding-bottom: 3rem !important;
}

.padding-bottom-extra-large {
    padding-bottom: 5rem !important;
}

/* Padding Left */
.padding-left-extra-small {
    padding-left: .25rem !important;
}

.padding-left-small {
    padding-left: .5rem !important;
}

.padding-left-balance {
    padding-left: .735rem !important;
}

.padding-left-medium {
    padding-left: 1.5rem !important;
}

.padding-left-large {
    padding-left: 3rem !important;
}

.padding-left-extra-large {
    padding-left: 5rem !important;
}

/* Padding Right */
.padding-right-extra-small {
    padding-right: .25rem !important;
}

.padding-right-small {
    padding-right: .5rem !important;
}

.padding-right-balance {
    padding-right: .735rem !important;
}

.padding-right-medium {
    padding-right: 1.5rem !important;
}

.padding-right-large {
    padding-right: 3rem !important;
}

.padding-right-extra-large {
    padding-right: 5rem !important;
}

/* Margin Top */
.margin-top-extra-small {
    margin-top: .25rem !important;
}

.margin-top-small {
    margin-top: .5rem !important;
}

.margin-top-balance {
    margin-top: .735rem !important;
}

.margin-top-medium {
    margin-top: 1.5rem !important;
}

.margin-top-large {
    margin-top: 3rem !important;
}

.margin-top-extra-large {
    margin-top: 5rem !important;
}

/* Margin Bottom */
.margin-bottom-extra-small {
    margin-bottom: .25rem !important;
}

.margin-bottom-small {
    margin-bottom: .5rem !important;
}

.margin-bottom-balance {
    margin-bottom: .735rem !important;
}

.margin-bottom-medium {
    margin-bottom: 1.5rem !important;
}

.margin-bottom-large {
    margin-bottom: 3rem !important;
}

.margin-bottom-extra-large {
    margin-bottom: 5rem !important;
}

/* Margin Left */
.margin-left-extra-small {
    margin-left: .25rem !important;
}

.margin-left-small {
    margin-left: .5rem !important;
}

.margin-left-balance {
    margin-left: .735rem !important;
}

.margin-left-medium {
    margin-left: 1.5rem !important;
}

.margin-left-large {
    margin-left: 3rem !important;
}

.margin-left-extra-large {
    margin-left: 5rem !important;
}

/* Margin Right */
.margin-right-extra-small {
    margin-right: .25rem !important;
}

.margin-right-small {
    margin-right: .5rem !important;
}

.margin-right-balance {
    margin-right: .735rem !important;
}

.margin-right-medium {
    margin-right: 1.5rem !important;
}

.margin-right-large {
    margin-right: 3rem !important;
}

.margin-right-extra-large {
    margin-right: 5rem !important;
}

