/* ---------------- Global Attributes */

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;

    border: none;
    box-sizing: border-box;
}

:root {
    --white : rgba(255, 255, 255, 1);
    --black : rgba(0, 0, 0, 1);
    --black-cover : rgba(0, 0, 0, 0.85);

    --color-buff : #D4A373;
    --color-auburn : #AD2831;
    --color-tekhelet : #5A189A;

    --sidebar-translate-x : 24rem;
    --sidebar-duration: .64s;
}

/* ---------------- Body */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;
    min-height: 100vh;

    overflow: hidden;
    
    background-color: var(--white);
}

main {
    flex: 1;
}

main#bio {
    background-color: var(--color-buff);
}

main#projects {
    background-color: var(--color-auburn);
}

main#contact {
    background-color: var(--color-tekhelet);
}

/* ---------------- Font */

a {
    text-decoration: none;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 1rem;
    font-weight: 400;

    color: var(--white);
}

h1.lexend {
    font-weight: 800;
}

/* ---------------- Button */

button {
    display: block;
    cursor: pointer;
}