/* ---------------- Footer */

footer {
    display: flex;

    background-color: var(--black);
}

app > footer {
    display: none;

    padding: min(4rem, 5vh) 3.25rem;
}

#message, .credit {
    padding: .5rem;
}

.social-networks {
    padding: .5rem 0;
}

footer .lexend {
    font-size: 1.5rem;
    font-weight: 500;
}

#navigation-sidebar-mobile footer .lexend {
    font-size: 1.25rem;
    font-weight: 300;
}

#message .lexend {
    color: var(--gray);

    font-size: 1.25rem;
    font-weight: 400;
}

/* ---------------- Icon */

.social-networks .icon {
    max-width: 44px;
}

#navigation-sidebar-mobile .social-networks .icon {
    max-width: 36px;
}