/* ---------------- Header */

header {
    transition: background-color .3s;
}

header.container {
    margin: 0 !important;
    max-width: 100% !important;
}

:not(#page-main) header.black-background {
    background-color: var(--black) !important;
    transition: background-color .3s;
}

header .navbar {
    display: none;
}

#head-nav {
    gap: 5rem;
}

#head-nav .nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--zinc-300) !important;
}

#head-nav .nav-link.active {
    color: var(--white) !important;
}

a#signature {
    font-size: 2rem;
    font-weight: 700;
}

/* ---------------- Title */

.page-title {
    padding: var(--header-height) 1.25rem .75rem 1.75rem;
}

/* ---------------- Foot */

.page-title h1 {
    font-size: 1.65rem;
    font-weight: 700;
}

.page-title p {
    font-size: 1.25rem;
    font-weight: 500;
}