/* ---------------- Header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    position: fixed;
    width: 100%;

    z-index: 2;

    padding: var(--header-padding) 2rem;

    background-color: transparent;
    transition: background-color .3s;
}

header.black-background {
    background-color: var(--black);
    transition: background-color .3s;
}

a#signature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    gap: 2rem;
}

a#signature > img#profil-signature {
    height: 56px;
    width: 56px;

    object-fit: cover;
}

a#signature > h1 {
    font-size: 2rem;
    font-weight: 700;
}

header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 4rem;
    align-items: center;

    color: var(--white);

    margin-left: auto;
}

header nav a.navigation {
    text-align: center;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: var(--header-line-height);
}