/* ---------------- Button */

#side-bar-button {
    display: block;

    margin-top: 4px;
    background-color: transparent;
}

/* ---------------- Sidebar */

#navigation-sidebar-mobile {
    display: flex;

    position: fixed;
    top: 0; left: 0;

    width: var(--sidebar-translate-x);
    height: 100vh;

    z-index: 1;

    padding: 7rem 0 0 2.5rem;

    background-color: var(--black);
    transform: translateX(calc(var(--sidebar-translate-x) * -1));
}

#navigation-sidebar-mobile[data-expanded="false"] {

    transform: translateX(calc(var(--sidebar-translate-x) * -1));
    transition-duration: var(--sidebar-duration);
}

#navigation-sidebar-mobile[data-expanded="true"] {

    transform: translateX(0);
    transition-duration: var(--sidebar-duration);
}
#container-sidebar-mobile {
    width: 100%;
    height: 100%;
}

#container-sidebar-mobile > li, #container-sidebar-mobile ul {
    list-style-type: none;
}

#container-sidebar-mobile ul {
    padding-left: 1.25rem;
    margin: .5rem 0 0 0;
}

#container-sidebar-mobile a.navigation {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
}

#container-sidebar-mobile ul a.navigation {
    font-size: 1.65rem;
}

#container-sidebar-mobile ul ul a.navigation {
    font-size: 1.45rem;
}