@media screen and (max-width : 480px) {

    /* ---------------- Profil */

    section#banner div#image-banner img {
        width: 68vw;
    }

    section#banner div#profil-banner h1 {
        font-size: 2.6rem;
    }

    section#banner div#profil-banner p {
        font-size: 1.05rem;
    }
    
}