@media screen and (min-width : 992px) {

    /* ---------------- Header */

    #head-nav {
        gap: 7.5rem;
    }

    /* ---------------- Banner */

    #banner {
        padding: 11rem 4.5rem 5rem 4.5rem;
    }

    #inner-banner {
        flex-direction: row;
    }

    /* ---------------- Profil */

    #profil-showcase h1 {
        font-size: 3.25rem;
    }

    /* ---------------- Title */

    :not(#page-main) main header {
        min-height: 20rem;
    }

    .page-title {
        padding: calc(var(--header-height) + 1rem) 2.5rem .75rem 2.5rem;
    }

    /* ---------------- Foot */

    .page-title h1 {
        font-size: 2.5rem;
    }

    /* ---------------- Certificates */

    #carousel-certificates .carousel-inner img {
        height: 384px;
    }

    /* ---------------- Responsive content */

    .content-sm:has( ~ .content-lg), .content-md:has( ~ .content-lg) {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .content-lg {
        visibility: visible;
        position: unset;
        height: unset;
        overflow: unset;
    }

    /* ---------------- Contact Email */

    #my-email {
        --my-email-height: 5.5rem;
        --my-email-font-size: 2rem;
    }
}