@media screen and (min-width : 1400px) {

    /* ---------------- Profil */

    #profil-showcase .container {
        margin: auto !important;
        max-width: 736px !important;
    }

    #profil-showcase h1 {
        font-size: 4rem;
    }

    #profil-showcase p {
        font-size: 1.75rem;
        font-weight: 100;
    }

    /* ---------------- Grid layout */

    .grid-columns[data-columns="4"] {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .grid-columns[data-columns="5"] {
        visibility: visible;
        position: unset;
        height: unset;
        overflow: unset;
    }
}