@media screen and (min-width : 1400px) {

    /* ---------------- Profil */

    #profil-showcase .container {
        margin: auto !important;
        max-width: 736px !important;
    }

    #profil-showcase h1 {
        font-size: 4rem;
    }

    #profil-showcase p {
        font-size: 1.75rem;
        font-weight: 100;
    }

    /* ---------------- Responsive content */

    .content-sm:has( ~ .content-xxl), .content-md:has( ~ .content-xxl),
    .content-lg:has( ~ .content-xxl), .content-xl:has( ~ .content-xxl) {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .content-xxl {
        visibility: visible;
        position: unset;
        height: unset;
        overflow: unset;
    }
}