@media screen and (min-width : 1200px) {

    /* ---------------- Profil */

    #profil-showcase h1 {
        font-size: 3.5rem;
    }

    #profil-showcase p {
        font-size: 1.5rem;
    }

    nav > a.icon {
        max-width: 96px;
    }

    /* ---------------- Responsive content */

    .content-sm:has( ~ .content-xl), .content-md:has( ~ .content-xl),
    .content-lg:has( ~ .content-xl) {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .content-xl {
        visibility: visible;
        position: unset;
        height: unset;
        overflow: unset;
    }
}