@media screen and (max-width : 736px) and (orientation: portrait) {

    /* ---------------- Banner */

    section#banner {
        height: 100vh;

        padding: 11rem 1rem 5rem 1rem;
    }

    section#banner div#inner-banner {
        flex-direction: column;
    }

    /* ---------------- Profil */

    section#banner div#profil-banner {
        margin: 0;
        margin-top: auto;
    }

    section#banner div#image-banner img {
        width: 50vw;
    }

    section#banner div#profil-banner h1 {
        font-size: 3.75rem;
    }

    section#banner div#profil-banner p {
        font-size: 1.25rem;
    }

    nav > a.icon {
        max-width: 80px;
    }

    /* ---------------- Button */

    header nav > a {
        display: none;
    }

    header button#side-bar-button {
        display: block;
    }

    /* ---------------- Sidebar */

    nav#navigation-sidebar-mobile {
        display: flex;
    }

    /* ---------------- Footer */

    footer {
        display: none;
    }

    nav#navigation-sidebar-mobile footer {
        display: flex;
    }
}