@media screen and (min-width : 480px) {

    /* ---------------- Banner */

    #banner {
        padding: 11rem 1rem 5rem 1rem;
    }

    #profil-showcase h1 {
        font-size: 2.75rem;
    }

    #profil-showcase p {
        font-size: 1.25rem;
    }

    /* ---------------- Sidebar */

    :root {
        --sidebar-translate-x: 24rem;
    }

    /* ---------------- Foot */

    .page-title h1 {
        font-size: 2rem;
    }

    .page-title p {
        font-size: 1.5rem;
    }
}

@media screen and (min-height : 736px) {

    /* ---------------- Banner */

    #banner {
        padding-top: 11rem !important;
    }

}