@media screen and (min-width : 768px) {

    /* ---------------- Profil */

    #profil-showcase h1 {
        font-size: 3rem;
    }

    #profil-showcase p {
        font-size: 1.35rem;
    }

    nav > a.icon {
        max-width: 80px;
    }

    /* ---------------- Sidebar */

    header .navbar {
        display: flex;
    }

    #side-bar-button {
        display: none;
    }

    #navigation-sidebar-mobile {
        display: none;
    }

    /* ---------------- Title */

    :not(#page-main) main header {
        min-height: 16rem;
    }

    .page-title {
        padding: calc(var(--header-height) + 1rem) 1.25rem .75rem 1.75rem;
    }

    /* ---------------- Header */

    .sticky-top.header-action {
        top: calc(var(--header-height) + 1.25rem);
    }

    /* ---------------- Foot */

    .page-title h1 {
        font-size: 2.5rem;
    }

    /* ---------------- Footer */

    app > footer {
        display: flex;
    }

    /* ---------------- Certificates */

    #carousel-certificates .carousel-inner img {
        height: 256px;
    }

    /* ---------------- Responsive content */

    .content-sm:has( ~ .content-md) {
        visibility: hidden;
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    .content-md {
        visibility: visible;
        position: unset;
        height: unset;
        overflow: unset;
    }
}