/* ---------------- Bio */

main#bio section.page-title .content-container-c {
    background-color: var(--main-color);
}

/* ---------------- About me */

#about-me p {
    font-size: 1.25rem;
}

/* ---------------- Interest */

#interest [class*=tag-] {
    margin-bottom: .85rem;
}

/* ---------------- Education */

div.col.size-third:has(#education) {
    --flex-size: 36%;
}

#education > h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

#education h3{
    --line-height: 1.25rem;
    font-size: 1.25rem;
}

#education article img {
    max-width: 64%;
    float: right;
}

#education .school {
    color: var(--main-color);
}

#education .time-indicator {
    color: var(--fade);
}

/* ---------------- Experience */

#experience > h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

#experience h3 {
    --line-height: 1.25rem;
    font-size: 1.25rem;

    margin-bottom: .25rem;
}

#experience article img[alt="Editions Ellipses"] {
    position: relative;
    top: -2rem;

    float: right;
    max-width: 24%;
    overflow: visible;
}

#experience .description {
    overflow: hidden;
}

#experience .company {
    color: var(--main-color);
}

#experience .time-indicator {
    color: var(--fade);

    margin-left: auto;
}

#experience li.lexend {
    font-weight: 300;
}

#experience .tech {
    color: var(--main-color);
}

#experience .tool {
    color: var(--fade);
}

/* ---------------- Certificates */

.certif-card {
    position: relative;

    background-color: var(--main-color);
    border-radius: .25rem;
}

.certif-card .certif-mention, .certif-card .certif-title {
    position: absolute;

    width: fit-content;
    pointer-events: none;
}

.certif-card .certif-mention {
    top: .5rem;
    right: .5rem;
}

.certif-card .certif-title {
    bottom: .5rem;
    left: .5rem;
}

.certif-card .certif-mention .text, .certif-card .certif-title .text {
    z-index: 0;
    position: relative;

    color: var(--white);
}

.certif-card .certif-mention .text {
    font-size: 1.25rem;
    font-weight: 600;
}

.certif-card .certif-title .text {
    font-size: 1.75rem;
    font-weight: 700;
}

.certif-card .certif-mention .text:empty::before,
.certif-card .certif-title .text:empty::before {
    display: none;
}

.certif-card .certif-mention .text::before, .certif-card .certif-title .text::before {
    content: "";
    z-index: -1;
    position: absolute;

    width: calc(100% + .5rem);
    height: calc(100% + .4rem);

    background-color: var(--main-color);
    
}

.certif-card .certif-mention .text::before {
    top: 0;
    right: 0;

    border-radius: 0 0 0 .25rem;
}

.certif-card .certif-title .text::before {
    bottom: -.15rem;
    left: 0;

    border-radius: 0 .25rem 0 0;
}

.certif-card .certif-image {
    background-size: cover;
    border-radius: .25rem;
}

/* ---------------- Certificates */

.skill-card {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    aspect-ratio: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: .5rem;

    background-image: linear-gradient(135deg, transparent, var(--red-400));
    background-color: var(--red-300);
    border-radius: .375rem;

    transition: background-color .4s;
}

.skill-card:hover {
    background-color: var(--red-500);

    transition: background-color .4s;
}

.skill-card > svg {
    width: 64%;
    height: 64%;
}

.skill-card h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--red-950) !important;
}

/* ---------------- Nav */

nav.inner-nav[for="bio-content"] {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

nav.inner-nav[for="bio-content"] > .item-nav.active svg path {
    fill: var(--white);
}

nav.inner-nav[for="bio-content"] > .item-nav.active svg path.stroke {
    fill: none;
    stroke: var(--white);
}

nav.inner-nav[for="bio-content"] > .item-nav:nth-child(1) svg path {
    stroke-width: 2;
}