/* ---------------- Project */

#page-projects .page-title {
    background-color: var(--main-color);
}

/* ---------------- Project top content */

#project-top-content {
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    border-bottom: 1px solid var(--bs-secondary-color);
}

/* ---------------- Filter */

#filter-btn path {
    stroke: var(--zinc-600);
}

#filter-btn.selected path {
    stroke: var(--main-color);
}

.filter-familly {
    margin-bottom: 1rem;
}

.filter-group:has(+ .filter-group) {
    padding-right: 1rem;
    margin-right: 1rem;

    border-right: 1px solid var(--zinc-400);
}

.filter-option {
    cursor: pointer;
}

.filter-option:hover, 
.filter-option.selected {
    background-color: var(--data-color) !important;
    transition: all var(--filter-hover-duration) ease-in;
}

.filter-option.white:hover,
.filter-option.white.selected {
    color: var(--white) !important;
}

.filter-option.black:hover,
.filter-option.black.selected {
    color: var(--black) !important;
}

/* ---------------- Project card */

.project-card, .project-card-large,
.project-card-medium, .project-card-small,
.project-card-vertical {
    cursor: pointer;
}

.card-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.project-img {
    object-fit: cover;
}

.project-card-vertical .project-img {
    width: 100%;
    height: 96px;
}

@media screen and (min-width : 768px) {
    .project-card .project-img {
        width: 256px;
        height: 360px;
    }
    
    .project-card-large .project-img {
        width: 224px;
        height: 224px;
    }
    
    .project-card-medium .project-img,
    .project-card-small .project-img {
        width: 180px;
        height: 180px;
    }
}

.project-card .project-title {
    height: 96px;
}

.project-card-large .project-title {
    height: 64px;
}

.project-card-medium .project-title,
.project-card-small .project-title {
    height: 56px;
}

.project-text {
    display: -webkit-box;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 48px;
}

.project-card-vertical .project-text {
    height: unset;
    max-height: 48px;
}

.project-card-medium .project-text,
.project-card-small .project-text {
    line-clamp: 1;
    height: 24px;
}

.project-catgs, .project-authors, .project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: .4rem;

    text-overflow: ellipsis;
    overflow: hidden;

    max-height: 38px;
}

.project-card .project-tags {
    max-height: 64px;
}

.project-catgs, .project-authors  {
    min-height: .875rem;
}

.project-tags {
    --project-tags-padding: 1rem;

    flex-wrap: wrap;

    padding-top: var(--project-tags-padding);
    min-height: calc(var(--project-tags-padding) + .875rem);

    border-top: 1px solid var(--bs-secondary-color);
}