<!DOCTYPE HTML>
<!--
	Aelig's Portfolio by Aglyonix
-->
<html>
    <head>
		<title>Aelig's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../style/index.css" />
		<script src="../script/index.js" type="module"></script>
	</head>
    <body>

        <!-- Site navigation -->
		<header>
			<a href="../" id="signature">
				<!-- img src="assets/images/profil-signature.gif" alt="" id="profil-signature" -->
				<h1 class="lexend">Aëlig Jimenez</h1>
			</a>
			<nav>
				<a href="../view/bio.html" class="navigation lexend">Bio</a>
				<a href="../view/projects.html" class="navigation lexend">Projets</a>
				<a href="../view/contact.html" class="navigation lexend">Contact</a>
				<button id="side-bar-button" type="button">
					<svg width="32" height="32" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill="white" fill-rule="evenodd"/>
					</svg>
				</button>
			</nav>
		</header>

        <!-- Main content -->
        <main id="projects">

        </main>

        <!-- Footer -->
		<footer>
			<section id="credit">
				<p class="lexend">© 2025 by Aglyonix</p>
			</section>
			<section id="social-networks">
				<a href="https://github.com/Aglyonix" class="icon"><img src="../assets/icons/github-icon-480x480.png" alt="Github"></a>
				<a href="https://www.linkedin.com/in/aëlig-jimenez-a10046292/" class="icon"><img src="../assets/icons/linkedin-icon-480x480.png" alt="Linkedin"></a>
			</section>
		</footer>

		<!-- Side bar -->
		<nav id="navigation-sidebar-mobile">
			<div id="container-sidebar-mobile">
				<a href="../view/bio.html" class="navigation lexend">Bio</a>
				<a href="../view/projects.html" class="navigation lexend">Projets</a>
				<a href="../view/contact.html" class="navigation lexend">Contact</a>
			</div>
			<footer>
				<section id="credit">
					<p class="lexend">© 2025 by Aglyonix</p>
				</section>
				<section id="social-networks">
					<a href="https://github.com/Aglyonix" class="icon"><img src="../assets/icons/github-icon-480x480.png" alt="Github"></a>
					<a href="https://www.linkedin.com/in/aëlig-jimenez-a10046292/" class="icon"><img src="../assets/icons/linkedin-icon-480x480.png" alt="Linkedin"></a>
				</section>
			</footer>
		</nav>

    </body>
</html>